csharp_viewer/bin/Debug/frames/*.png
csharp_viewer/bin/Release/frames/*.png
csharp_viewer/bin/Release/old_ColorMaps.docx
csharp_viewer/bin/Release/old_ColorMaps.xml
*~
charmap*.png
screenshot.png
parsedFile.txt
TemporaryGeneratedFile*
*.cache
vs2010_csharp_viewer.suo
*.user
*.pdb
*.exe*
*.csproj.FileListAbsolute.txt
*.AssemblyAttribute.cs
.history
.macros